.layout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    padding: 3rem;
    width: 100%;
}

.layout__item a {
    padding: 10px;
    margin: 5px;
    background-color: #7ed321;
    color: #fff;
    font-style: 16px;
    font-weight: 600;
    text-transform: capitalize;
    text-decoration: none;
    border-radius: 3px;
}

.layout__item a:hover {
    background-color: #000000;
}